.btn,
.btn:active{
    margin: 10px 0;
    border: 3px solid #6f4a8e;
    color: #ebebeb;
    background-color: #6f4a8e;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    font-family: 'Abel', cursive;
    font-size: 20px;
    padding: 10px;
    width: fit-content;
}

.btn:hover{
    color: #050505;
    background-color: #ebebeb;
}