.main{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.details{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
}

.bar{
    background-color: #050505;
    padding: 20px;
    color: #ebebeb;
    font-family: 'Bebas Neue', cursive;
    font-size: 28px;
    width: 100%;
    margin-bottom: 50px;
}

.additem{
    background-color: #221f3b;
    padding: 20px;
    color: #ebebeb;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.heading{
    font-family: 'Bebas Neue', cursive;
    font-size: 32px;
    margin: 10px;
    text-align: center;
    color: #ebebeb;
}

.text{
    font-family: 'Abel', cursive;
    font-size: 20px;
    margin: 10px;
}

.today{
    background-color: #221f3b;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 50px;
    border-radius: 10px;
}

.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.nutrient{
    background-color: #221f3b;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
    border-radius: 10px;
}

.button{
    cursor: pointer;
}